 <!DOCTYPE html>
<html>
<head>
<title>Incription au Quizz</title>
</head>

<body>
    <h1>Inscrivez vous!</h1>
    <p>Merci de communiquer l'url suivante pour que les viewers puissent participer au Quizz : {{ battle.get_suscribe_url() }}</p>
    <div id="safeTimer">
        <h2>Safe Timer</h2>
        <p id="safeTimerDisplay">00:30</p>
    </div>
    <div>
        <button id="quizz" type="button" onclick="location.replace('{{ battle.get_suscribe_url() }}')" disabled>Démarrez le quizz</button>
    </div>

</body>

 <script>
     window.onload = function timer(){
                        var sec = 30;
                        var timer = setInterval(function(){
                            document.getElementById('safeTimerDisplay').innerHTML='00:'+sec;
                            sec--;
                            if (sec < 0) {
                                clearInterval(timer);
                                document.getElementById('quizz').disabled = false;
                            }
                        }, 1000);
                    }
 </script>
</html>